<%- include('../../shared/includes/head.ejs',{ pageTitle : 'Login'})%>
<link rel="stylesheet" href="/styles/forms.css" />
<link rel="stylesheet" href="/styles/auth.css" />
</head>
<body>
<%- include('../../shared/includes/header.ejs')%>
<main>
    <h1>Login</h1>
    <% if(inputData.errorMessage) { %>
        <section class="alert">
            <h2>Invalid Credentials</h2>
            <p><%= inputData.errorMessage %></p>
        </section>
    <% }%>
    <form action="/new-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">

        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="6"  value="<%= inputData.password %>" required>
        </p>
        <p>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" minlength="6"  value="<%= inputData.confirmPassword %>" required>
        </p>
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
        <button class="btn">Update Password</button>

    </form>
</main>
<%- include('../../shared/includes/footer.ejs') %>
